@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --dark: #19283f;
  --green: #33d1cc;
  --red: #ff3150;
  --yellow: #ffc400;
  --section-color: #eff7fa;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  appearance: none;
  
}
